---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Selected Projects and Experience
======
------
* **Senior Android Developer**
*    Developed an unofficial messaging app which uses Social Media API with almost 500k users, 2012-2018
*    Developed an Android application for finding Iranian phone caller's name, 2018
*    Developed an Android application for Joomla CMS called Cuckoo app, 2016
*    Developed an Android SMS manager application called SMSFA which can resolve UTF-8 encoding problems in smart phones and recognize, categorize and filter spam SMS, 2015
* **Senior Website Developer and SEO Specialist**
*    Design and SEO more than 20 websites, web applications and API's with PHP language or Wordpress CMS, 2012-2020
* **Security**
*    Website security, Web Application and Network Penetration Test, 2012-2018
*    android and windows Software Security Testing, 2015-2018
*    Developed an unrecognizable hidden camera Android application which can keep recording after screen off without preview screen, 2017
* **Administration**
*    System and Network Administration and Virtualization 2015-2019 Network, System and Software Troubleshooting, 2012-2019
* **Data Management**
*    Data Analysis and Database Administration, 2016-2018
* **Leadership**
*    Project Leadership in Social Media Development 2016-2018
*    Startup Co-founder at Rasava, Hoosh Bartar, Visatoon, Echopapatravel and AbrServer, 2015-2020

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
